repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.6
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- repo: https://github.com/AndrejOrsula/pre-commit-cargo
  rev: 0.4.0
  hooks:
    - id: cargo-fmt
    - id: cargo-update
    - id: cargo-clippy
      args: ["--all-targets", "--all-features"]
    - id: cargo-check
      args: ["--all-targets", "--all-features"]